.post-card{
    border: 3px solid grey;
    padding: 1rem;
}
.post-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;
}
.card-title{
    font-size: 1rem;
    font-weight: 700;
}
.comment-section{
    color: palevioletred;
    font-size: 0.8rem;
    cursor: pointer;
}
.comment-wrapper{
    width: 70%;
    gap: 0.5rem;
}
.comment{
    font-size: 0.8rem;
    padding: 0.5rem;
}
.comment-name{
    font-weight: 700;
}