body{
    background-color: #696e79;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: fit-content;
}
.todo-section{
    display: flex;
    flex-wrap: wrap;
}
.todo-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #444444;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: black 3px 4px 5px 4px;
}
.input-wrapper{
    gap: 2em;
}
h2{
    color: black;
}
@media (max-width: 500px){
    .todo-wrapper{
        display: flex;
        flex-direction: column;
        text-align: start;
        align-self: center;
        padding-left: 3rem;
    }
}