.task-button {
    width: 7rem;
    height: 2rem;
    background-color: #1570ef;
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.todo-input{
    display: flex;
    padding: 1rem;
    gap: 5rem;
}
input{
    max-width: 30rem;
    height: 2rem;
    border-radius: 4px;
}
