.todos{
    display: flex;
    gap: 10em;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.status-button{
    background-color: #1570ef;
    color: azure;
   display: flex;
   text-align: center;
   justify-content: center;
   font-size: 17px;
   font-weight: 200;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
    width: 7rem;

}
.status-button:hover{
    background-color: #696e79;
}
.todo-list{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    text-wrap: nowrap;
    
}
.todo-button{
    display: flex;
    gap: 7rem;
    align-items: end;
    justify-content: justify;
}
.delete-button{
    background-color: #e82934;
    color: aliceblue;
    width: 7rem;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}
.delete-button:hover{
    background-color: aliceblue;
    color: #e82934;
}